version: '3'

# Into this file we pass following variables:
#
# - os_name
# - file_system
# - docker_mode
# - services_restart_policy

services:
  nika-logs:
    image: amir20/dozzle:latest
    volumes:
{% if docker_mode == 'root_less' %}
      - /run/user/1000/docker.sock:/var/run/docker.sock
{% else %}
      - /var/run/docker.sock:/var/run/docker.sock
{% endif %}
    ports:
      - 9991:8080
    environment:
      DOMAINS: nika-logs.lo

  nika-gateway:
    image: nginx:1.17.8-alpine
    volumes:
      - ./projects/gateway:/etc/nginx/conf.d/
    ports:
      - "80:80"
      
  nika-adminer:
    image: adminer
    restart: {{ services_restart_policy }}
    ports:
      - 9992:8080
    environment:
      DOMAINS: nika-adminer.lo
      
  nika-redis:
    image: redis:6.0.5
    command: redis-server
    restart: {{ services_restart_policy }}
    
  nika-pg:
    image: postgres:12.3
    restart: {{ services_restart_policy }}
    environment:
      POSTGRES_USER: pg
      POSTGRES_PASSWORD: pg
    volumes:
      - volume-nika-pg:/var/lib/postgresql/data

  nika:
    build: ./services/nika/
    volumes:
      - ./projects/nika:/application
    ports:
      - 9993:80
    environment:
      DOMAINS: nika.lo

volumes:
  volume-nika-pg: null